.hero-image-home {
  background-image: url("../../images/home-hero-unsplash.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-portfolio {
  background-image: url("../../images/portfolio/work-hero-image.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-about {
  background-image: url("../../images/about/story-hero-image.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-contact {
  background-image: url("../../images/contact/contact-hero-image.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
