/* Sidenav */
.sidenav {
  background-color: rgba(34, 33, 33, 0.7);
  -webkit-backdrop-filter: brightness(60%) blur(3px);
  backdrop-filter: brightness(60%) blur(3px);
}

.sidenav a {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
