@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300&display=swap");

.intro-text {
  text-align: center;
  padding-top: 6em;
  color: #fff;
}

$font-family-base: "Raleway", sans-serif;

.menu a {
  letter-spacing: 1px;
  :hover {
    text-decoration: underline;
  }
}
